/* 使用flex模式 */
.df {display: -webkit-box;display: -webkit-flex;display: flex;}
/* 横向撑满父层剩余空间 */
.df1 {-webkit-box-flex: 1;flex: 1;overflow: hidden;}
/* 水平垂直居中 */
.dfc {-webkit-box-align: center;align-items: center;-webkit-box-pack: center;justify-content: center;}
/* 垂直居中 */
.dfaic {-webkit-box-align: center;align-items: center;}
/* 底对齐 */
.dfaie {-webkit-box-align: end;align-items: flex-end;}
/* 水平居中 */
.dfjcc {-webkit-box-pack: center;justify-content: center;}
/* 水平方向右对齐 */
.dfjce {-webkit-box-pack: end;justify-content: flex-end;}
/* 水平两端对齐 */
.dfjbw {-webkit-box-pack: justify; justify-content: space-between;}
/* 水平靠右对齐 */
.dfjend{-webkit-box-pack: justify; justify-content: flex-end;}
/* 垂直方向 */
.dfdir {-webkit-box-orient: vertical;flex-direction: column;}
/* 水平反向 */
.dfre{flex-direction: row-reverse;}
/* 超出换行 */
.dfrw {flex-flow: row wrap}



/*单行文本溢出*/
.spill{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	word-break: break-all;
}