@font-face {
    font-family: 'iconfont';  /* project id 1746854 */
    src: url('//at.alicdn.com/t/font_1746854_ai6cz940pdi.eot');
    src: url('//at.alicdn.com/t/font_1746854_ai6cz940pdi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1746854_ai6cz940pdi.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1746854_ai6cz940pdi.woff') format('woff'),
    url('//at.alicdn.com/t/font_1746854_ai6cz940pdi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1746854_ai6cz940pdi.svg#iconfont') format('svg');
  }

.iconfont {
    font-family: iconfont !important;
    display: inline-block;
}

/* 收藏实心 */
.iconfont.collectsolid::after {
    content: "\e62d";
  }

/* 收藏空心 */
.iconfont.collect::before {
    content: "\e62e";
  }