@import './reset.css';
@import './flex.css';
@import './iconfont.css';
@import 'element-ui/lib/theme-chalk/index.css';

// 设置根目录大小
:root {
    font-size: calc(100vmin / 375 * 12);
    // 提交按钮
    .submit-btn{
        background: #06609A;
        border-color: #06609A;
        &:hover{
            background: #097dc7;
            border-color: #097dc7;
        }
    }
    // 删除按钮
    .delete-btn{
        background: #E25656;
        border-color: #E25656;
        color: #fff;
        &:hover{
            background: #EF5858;
            border-color: #EF5858;
        }
    }
    // 新增按钮
    .add-btn{
        background: #FF9759;
        border-color: #FF9759;
        color: #fff;
        &:hover{
            background: #E26C09;
            border-color: #E26C09;
        }
    }
    // 列表分页
    .code_pagination{
        margin-top: 20px;
        .is-background{
            /deep/ .el-pager li,
            /deep/ .btn-prev,
            /deep/ .btn-next{
                width: 52px;
                height: 42px;
                line-height: 42px;
            }
            /deep/ span:not([class*=suffix]){
                font-size: 16px;
                color: #999;
                line-height: 42px;
            }
            .el-pager li{
                &:not(.disabled).active{
                    background: #06609A;
                    color: #fff;
                    &:hover{
                        color: #fff;
                    }
                }
                &.active{
                    background: #06609A;
                    color: #fff;
                }
            }
        }
    }
}

