<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<div id="app">
    <p class="title">todoList</p>
    <hr/>
    <div class="top">
        <input type="text" v-model="name" @keyup.enter="addItem">
        <button @click="addItem">添加</button>
    </div>

    <ul v-if="todos.length > 0">
        <li v-for="(todo, index) in todos" :key="todo.id" :class="todo.isFinish? 'finished':''">
            [{{todo.id}}]-
            <input type="checkbox" @click.prevent="toggle(todo.id, !todo.isFinish)" :checked="todo.isFinish">
            {{todo.name}}
            <button @click="deleteItem(todo.id)">删除</button>
        </li>
    </ul>
    <div class="tips">
        <a :class="n===page?'tip active':'tip'" href="javascript:;" v-for="n in pages" :key="n"
            @click.prevent="changePage(n)">{{n}}</a>
    </div>

    <div class="select">
        <button :class="type===''?'active':''" @click="changeType('')">所有</button>
        <button :class="type===1?'active':''" @click="changeType(1)">已完成</button>
        <button :class="type===0?'active':''" @click="changeType(0)">未完成</button>
    </div>
</div>
<script src="https://cdn.bootcss.com/vue/2.6.2/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
new Vue({
    el: "#app",
    data(){
        return {
            name: '',
            pages: 0,
            page: 1,
            type: '',
            limit: 5,
            todos: []
        }
    },
    created(){
        this.getList();
    },
    methods: {
        changePage(n){
            this.page = n;
            this.getList();
        },
        changeType(type){
            this.type = type
            this.page = 1;  // 页码重置
            this.getList();
        },
        getList(){
            const that = this;
            axios.get('/getList', {
                params: {
                    page: this.page,
                    limit: this.limit,
                    type: this.type
                }
            }).then(res => {
                const data = res.data;
                console.log(data);
                // 返回成功的状态
                if(!data.code){
                    that.todos = data.list;
                    that.pages = data.pages;
                }else{
                    console.log(data);
                }
            })


        },
        /**
         * id: 要修改的数据的id
         * 修改后的状态
        */
        toggle(id, status){
            const that = this;
            axios.post('/changeStatus', {
                id,
                status: Number(status)
            })
            .then(res => {
                const data = res.data;
                if(!data.code){
                    that.getList();
                }else{
                    console.log(data)
                }
            })
        },

        // 删除对应id的item
        deleteItem(id){
            const that = this;
            axios.post('/deleteItem', {
                id
            })
            .then(res => {
                const data = res.data;
                if (!data.code) {
                   this.getList()
                } else {
                    console.log(data)
                }
            })
        },
        addItem(){
            const that = this;
            const name = this.name;
            if(!name.trim()){
                alert('请填写内容再提交');
                return;
            }
            axios.post('/addItem', {
                name
            })
            .then(res => {
                const data = res.data;
                if (!data.code) {
                    that.getList();
                    alert(data.msg);
                    that.name = '';
                } else {
                    alert(data.msg);
                    console.log(data)
                }
            })
        }
    },
})
</script>
</body>
</html>