/* 全局样式 */
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.list-table{
    width: 850px;
    margin: 0 auto;
    margin-top: 5%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
}