@font-face {
    font-family: 'iconfont';  /* project id 2290536 */
    src: url('//at.alicdn.com/t/font_2290536_gryu2qcch4c.eot');
    src: url('//at.alicdn.com/t/font_2290536_gryu2qcch4c.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2290536_gryu2qcch4c.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2290536_gryu2qcch4c.woff') format('woff'),
    url('//at.alicdn.com/t/font_2290536_gryu2qcch4c.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2290536_gryu2qcch4c.svg#iconfont') format('svg');
  }
  
.iconfont {
    font-family: iconfont !important;
    display: inline-block;
}
