html {
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    font-family: Roboto;
    font-weight: 300;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.todoApp {
    font: 14px Roboto,Helvetica Neue,Helvetica,Microsoft Yahei,Arial,sans-serif;
    max-width: 750px;
    font-weight: 300;
    width: 540px;
    height: 720px;
    background: #fff;
    box-shadow: 0 30px 80px rgba(52,133,211,.5);
    /* border-radius: 15px; */
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    position: relative;
}

.header {
    width: 100%;
    height: 40px;
    position: relative;
    -webkit-app-region: drag
}
.header .close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.header .close:hover {
    color: red;
}
.header .min {
    position: absolute;
    right: 45px;
    top: 15px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.header .min:hover {
    color: red;
}


h1 {
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    letter-spacing: 30px;
    margin-top: 0;
    padding-top: 43px;
    margin-bottom: 50px;
    color: #3398f9;
}

.todo-list {
    height: 380px;
}
.todo-item {
    position: relative;
    width: 405px;
    border-bottom: 1px solid #f2f2f2;
    margin-left: 10px;
    padding: 15px 0 11px 8px;
    line-height: 1em;
    list-style-type: none;
    font-size: 30px;
    color: #3398f9;
}
.todo-item .checkbox {
    font-size: 30px;
}
.todo-item .recycle-bin {
    position: absolute;
    right: 0;
    top: 15px;
    display: none;
    font-size: 30px;
}
.todo-item:hover .recycle-bin {
    display: block;
}
.todo-item .recycle-bin:hover {
    color: red;
}
.todo-list .done {
    font-weight: 400;
    color: #d9d9d9;
    text-decoration: line-through;
}


.filter, .filter-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 42px;
}
.filter-box {
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid #d9d9d9;
}
.filter-item {
    font-size: 18px;
    letter-spacing: 1.5px;
    color: #3398f9;
    padding: 8px 12px;
    cursor: pointer;
}
.selected {
    font-weight: 400;
    color: #d9d9d9;
}


.add-todo {
    position: absolute;
    bottom: 30px;
}
.new-todo {
    font-family: Roboto;
    width: 405px;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #f2f2f2;
    margin-left: 54px;
    background: rgba(0,0,0,.003);
    font-size: 24px;
    font-weight: 200;
    line-height: 24px;
    outline: none;
    color: #3398f9;
}