@font-face {
    font-family: 'iconfont';  /* project id 2052750 */
    src: url('//at.alicdn.com/t/font_2052750_u128272z9fs.eot');
    src: url('//at.alicdn.com/t/font_2052750_u128272z9fs.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2052750_u128272z9fs.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2052750_u128272z9fs.woff') format('woff'),
    url('//at.alicdn.com/t/font_2052750_u128272z9fs.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2052750_u128272z9fs.svg#iconfont') format('svg');
  }

.iconfont {
    font-family: iconfont !important;
    display: inline-block;
    vertical-align: middle;
}
